.footer{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: black;
    height: 46px;
    width: 100%;
    padding: 10px;

}
.footer-text{
position: relative;
    color: rgb(225, 225, 225);
    font-size: small;
    
}